body{
    background-color: #daa5ce;
}


.border{
    background-color: #d9d9d9;
    top:0;
    width:100%;
    height:100px;
}
.Search{
  margin-top: 100px;
  margin-left:50px;
  text-align: center;
  font-size: 21pt;
}
p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
}
.bar{
  background: transparent;
  width: 40%;
  height: 40px;
  border-radius: 40px;
}
 .logo{
  width: 4%;
  height:4%;
  margin-top: 10px;  
  margin-left: 10px;
 }
 .logo2{
  margin-top: 100px;
  margin-left:700px;
 }

 nav{
  padding: 10px;
  text-align: right; 
  text-decoration: none;
  margin: 0 15px;
  margin-top: -60px;
}


.Home{
  color: rgb(5, 5, 5);
  transition: color 0.2s;
  height: 30px;
  width: 30px;
  font-size: 50px;
  margin-top: 100%;
  margin-bottom: 70px;
  text-decoration: none;

}
.Home:hover {
color: rgb(104, 187, 255);
}

.Contact{
  color: rgb(0, 0, 0);
  transition: color 0.2s;
  height: 30px;
  width: 30px;
  font-size: 50px;
  margin-top: 100%;
  margin-bottom: 70px;
  text-decoration: none;
}
.Contact:hover {
  color: rgb(251, 255, 42);
  }

  
.Profile{
  color: rgb(14, 13, 14);
  transition: color 0.2s;
  height: 30px;
  width: 30px;
  font-size: 50px;
  margin-top: 100%;
  margin-bottom: 70px;
  text-decoration: none;
}
.Profile:hover {
  color: rgb(218, 51, 176);
  }
.Project{
  color: rgb(14, 13, 14);
  transition: color 0.2s;
  height: 30px;
  width: 30px;
  font-size: 50px;
  margin-top: 100%;
  margin-bottom: 70px;
  text-decoration: none;
}
.Project:hover {
  color: rgb(77, 204, 94);
}
 .Icon {
      margin-top: -893px;
      margin-bottom: 10px;
      margin-left: 1508px;
  }
  .Mag {
    margin-top: 775px;
    margin-bottom: 70px;
    text-decoration: none;
    margin-left: -840px;
}